{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4">Bienvenue dans le back-office 🥖</h1>

    <div class="row g-4">
        <!-- Statistiques -->
        <div class="col-md-4">
            <div class="card ea-bg-card rounded-3 shadow-sm h-100 text-center p-3">
                <h5 class="card-title mb-2">Statistiques</h5>
                <p class="card-text mb-3">Consultez les ventes et le chiffre d’affaires</p>
                <div class="align-items-center">
                    <a href="{{ statistiquesUrl }}" class="btn btn-outline-light border-1">Accéder</a>
                </div>
            </div>
        </div>

        <!-- product -->
        <div class="col-md-4">
            <div class="card ea-bg-card rounded-3 shadow-sm h-100 text-center p-3">
                <h5 class="card-title mb-2">Produits</h5>
                <p class="card-text mb-3">Gérer les produits</p>
                <div class="align-items-center">
                    <a href="{{ productCrudUrl }}" class="btn btn-outline-light">Accéder</a>
                </div>
            </div>
        </div>

        <!-- categorys -->
        <div class="col-md-4">
            <div class="card ea-bg-card rounded-3 shadow-sm h-100 text-center p-3">
                <h5 class="card-title mb-2">Catégories</h5>
                <p class="card-text mb-3">Gérer les catégories</p>
                <div class="align-items-center">
                    <a href="{{ categoryCrudUrl }}" class="btn btn-outline-light">Accéder</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}